* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    font-family: Montserrat;
}

body {
    background: #EAEAEA;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    background: #424242;
    height: 2.375rem;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;

}

.content {
    width: 100.625rem;
    margin: 0 auto;
}

.header-content {
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-content__links-block__item {
    color: white;
    margin-right: 2.375rem;
    font-size: 0.75rem;
    font-weight: normal;
}

.user-exit__block {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;


}

.user-exit__block-user {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-right: 2.375rem;
}

.user-exit__block-user__text {
    color: white;
    margin-right: 0.125rem;
    font-size: 0.75rem;
    cursor: pointer;
}

.main-section {
    position: relative;
    width: 100%;
    padding-top: 2.375rem;

}

.main-section__logo {
    margin-left: 1.2rem;
    margin-top: 0.5rem;
    position: absolute;
}

.left-hide__bar {
    width: 8.875rem;
    height: 10.125rem;
    position: absolute;
    left: -6%;
    top: 0;
    margin-top: 11.25rem;
    background: rgba(196, 196, 196, 0.26);
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.lock-item {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.7rem;
    margin-right: 1.3rem;
    cursor: pointer;
}

.lock-item span {
    width: 0.8rem;
    height: 0.1rem;
    border-radius: 3px;
    background: #858585;
    display: block;
    position: absolute;
    transition: 0.5s;
}

.lock-item span:first-child {
    transform: rotate(45deg);
}

.lock-item span:last-child {
    transform: rotate(-45deg);
    top: 0.5rem;

}

.left-hide__bar-item {
    height: 1.375rem;
    width: calc(100% - 1rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    cursor: pointer;
}

.left-hide__bar-item:nth-child(2) {
    margin-top: 1.8125rem;
    background: #C4C4C4;

}

.left-hide__bar-item img {
    margin-right: 0.3125rem;
}

.left-hide__bar-item p {
    color: #424242;
    font-size: 0.75rem;
    font-weight: 600;
}

.white-background__block {
    width: 100%;
    height: calc(100vh - 2.375rem);
    background: white;
}

.top-filter__block {

    height: 3.8125rem;
    border-top: 0.1875rem solid #232323;
    padding: 0 1rem;
    background: #373737;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-filter__block-text {
    color: white;
    font-size: 1rem;
    font-weight: 600;

}

.filter-text__block .top-filter__block-text {

    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;

}

.filter-text__block {
    display: flex;
    flex-direction: row;
}

.filter-text__block img {
    margin-left: 0.3125rem;
}

.message-item {
    width: calc(100% - 2rem);
    height: 3.8125rem;
    position: relative;
    border-top: 0.1875rem solid #232323;
    padding: 0 1rem;
    background: rgba(55, 55, 55, 0.76);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.message-read__state {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    background: #0085FF;


}

.message-item__person {
    margin: 0 1.5rem;

}

.message-item__person-name {
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    color: white;
}

.message-item__theme-block {
    position: absolute;
    left: 20.375rem;
    width: 20.625rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.message-item__theme-block__placeholder {

    font-weight: 600;
    font-size: 1rem;
    color: #424242;
    margin-right: 1rem;
}

.message-item__theme-block__text {
    font-weight: 600;
    font-size: 1rem;
    color: white;
    white-space: nowrap;
}

.message-item__message-block {
    position: absolute;
    left: 44.875rem;
    width: 42.25rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.message-item__message-block__placeholder {

    font-weight: 600;
    font-size: 1rem;
    color: #424242;
    margin-right: 1rem;
}

.message-item__message-block__text {
    font-weight: 600;
    font-size: 1rem;
    color: white;
    white-space: nowrap;
}

.message-item__time {
    position: absolute;
    right: 1rem;
    color: white;
    font-size: 0.75rem;
}

.message-look {
    width: 100vw;
    height: 100vh;
    background: rgba(60, 60, 60, 0.65);
    backdrop-filter: blur(14px);
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.message-form {
    width: 75.5rem;
    height: 48.0625rem;
    padding: 2rem;

    background: #FFFFFF;
    border-radius: 3px;
}

.message-form__theme {

    font-weight: 600;
    font-size: 1rem;



    color: #424242;

}

.lock-form__item {
    width: 1.6rem;
    cursor: pointer;
}

.message-form__top {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.from-person__block {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    align-items: center;
}

.message-form__person-img {
    margin: 0 0.6875rem;
}

.message-form__person-name {
    font-weight: 600;
    font-size: 1rem;



    color: #0085FF;
}

.message-place__text {
    font-weight: 600;
    font-size: 1rem;

    color: #424242;
    margin-top: 1.375rem;
    margin-bottom: 1rem;
}

.person-message {
    width: calc(100% - 2rem);
    background: #828282;
    border-radius: 10px;
    padding: 1rem;

    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;

    color: #FFFFFF;
    margin-bottom: 3.8125rem;
}

textarea {
    width: calc(100% - 2rem);
    height: 12.5rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    margin: 2.5rem 0;
    resize: none;
    outline: none;
    padding: 0.8125rem;
    margin: 0;
    margin-bottom: 2rem;
    color: #494949;
    background: #E7E7E7;
    box-shadow: inset 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 0;
}

::-webkit-input-placeholder {
    font-family: Montserrat;
    color: #B4B4B4;
    font-size: 1rem;
}

::-moz-placeholder {
    font-family: Montserrat;
    color: #B4B4B4;
    font-size: 1rem;
}

/* Firefox 19+ */
:-moz-placeholder {
    font-family: Montserrat;
    color: #B4B4B4;
    font-size: 1rem;
}

/* Firefox 18- */
:-ms-input-placeholder {
    font-family: Montserrat;
    color: #B4B4B4;
    font-size: 1rem;
}

.btn-place {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.send-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 8.4375rem;
    height: 1.75rem;
    background: #44A5FF;
    border-radius: 0.375rem;
    color: white;
    cursor: pointer;
}


@media screen and (max-width:1920px) {
    html {
        font-size: 100%;
    }
}

@media screen and (max-width:1700px) {
    html {
        font-size: 87%;
    }

}

@media screen and (max-width:1620px) {
    html {
        font-size: 84.375%;
    }

}

@media screen and (max-width:1440px) {
    html {
        font-size: 50%;
    }

    .slide {
  
        height: 67vh;
    }

}

@media screen and (max-width:1366px) {
    html {
        font-size: 71.14583%;
    }

}

@media screen and (max-width:1240px) {
    html {
        font-size: 50.583%;
    }

}

@media screen and (max-width:1024px) {
    html {
        font-size: 45.3%;
    }

}

@media screen and (max-width:992px) {
    html {
        font-size: 40%;
    }


}

@media screen and (max-width:768px) {
    html {
        font-size: 40%;
    }


}




@media screen and (max-width:425px) {

    html {
        font-size: 100%;
    }

   

}